body {
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Verdana, Georgia;
    background: black;
    color: white;
}

div {
    display: table;
    width: 90%;
    vertical-align: middle;
}

appname {
    display: block;
    font-size: 40px;
    color: #000000;
    text-shadow: 2px 2px blue;
    text-align: center;
    padding: 10px;
}

header {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-left: 10%;
}
onswitch {
    display: table-cell;
    font-size: 50px;
    border: 2px black solid;
    border-right: none;
    background: green;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    vertical-align: middle;
}
offswitch {
    display: table-cell;
    font-size: 50px;
    border: 2px black solid;
    border-left: none;
    background: red;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    vertical-align: middle;
}
info {
}
help {
}