body {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

div {
    display: block;
    width: 48%;
    margin: 1%;
    vertical-align: middle;
    border-radius: 50px;
}

div.title {
    background: gray;
    font-size: 75px;
    height: 18%;
}

div.on {
    background: black;
    color: white;
    height: 38%;
    font-size: 150px;
}
div.off {
    background: white;
    color: black;
    height: 38%;
    font-size: 150px;
}
#Title1 {
    position: absolute;
    top: 0%;
    left 0%;
}
#Title2 {
    position: absolute;
    top: 0%;
    left: 50%;
}
#On1 {
    position: absolute;
    top: 20%;
    left: 0%;
}
#On2 {
    position: absolute;
    top: 20%;
    left: 50%;
}
#Off1 {
    position: absolute;
    top: 60%;
    left: 0%;
}
#Off2 {
    position: absolute;
    top: 60%;
    left: 50%;
}
