<!doctype html>
<html>
<head>
<title>Socket Control</title>
<link rel="stylesheet" href="/static/style.css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no" />
<script>
function sendRequest(action, device) {
  var xhttp = new XMLHttpRequest();
  // xhttp.onreadystatechange = function() {};
  xhttp.open("GET", "/" + action + device, true);
  xhttp.send();
}
</script>
</head>
<body>
<appname>Socket Control</appname>
<div id="switch1">
  <header>Switch One</header>
  <onswitch><button type="button" class="btnon" onclick="sendRequest('on','1')">On</button></onswitch>
  <offswitch><button type="button" class="btnoff" onclick="sendRequest('off','1')">Off</button></offswitch>
</div>
<div id="switch2">
  <header>Switch Two</header>
  <onswitch><button type="button" class="btnon" onclick="sendRequest('on','2')">On</button></onswitch>
  <offswitch><button type="button" class="btnoff" onclick="sendRequest('off','2')">Off</button></offswitch>
</div>
<div id="switch3">
  <header>Switch Three</header>
  <onswitch><button type="button" class="btnon" onclick="sendRequest('on','3')">On</button></onswitch>
  <offswitch><button type="button" class="btnoff" onclick="sendRequest('off','3')">Off</button></offswitch>
</div>
<div id="switch4">
  <header>Switch Four</header>
  <onswitch><button type="button" class="btnon" onclick="sendRequest('on','4')">On</button></onswitch>
  <offswitch><button type="button" class="btnoff" onclick="sendRequest('off','4')">Off</button></offswitch>
</div>
<info></info>
<help></help>
</body>
</html>
