<!doctype html>
<html>
<head>
<title>Socket Control</title>
<link rel="stylesheet" href="/static/style.css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no" />
<script>
function sendRequest(action, device) {
  var xhttp = new XMLHttpRequest();
  // xhttp.onreadystatechange = function() {};
  xhttp.open("GET", "/" + action + device, true);
  xhttp.send();
}
</script>
</head>
<body>
<appname>Socket Control</appname>
<div id="switch1">
  <header>Switch One</header>
  <onswitch onclick="sendRequest('on','1')">&nbsp;ON&nbsp;</onswitch>
  <offswitch onclick="sendRequest('off','1')">&nbsp;OFF&nbsp;</offswitch>
</div>
<div id="switch2">
  <header>Switch Two</header>
  <onswitch onclick="sendRequest('on','2')">&nbsp;ON&nbsp;</onswitch>
  <offswitch onclick="sendRequest('off','2')">&nbsp;OFF&nbsp;<br /></offswitch>
</div>
<div id="switch3">
  <header>Switch Three</header>
  <onswitch onclick="sendRequest('on','3')">&nbsp;ON&nbsp;</onswitch>
  <offswitch onclick="sendRequest('off','3')">&nbsp;OFF&nbsp;</offswitch>
</div>
<div id="switch4">
  <header>Switch Four</header>
  <onswitch onclick="sendRequest('on','4')">&nbsp;ON&nbsp;</onswitch>
  <offswitch onclick="sendRequest('off','4')">&nbsp;OFF&nbsp;</offswitch>
</div>
<info></info>
<help></help>
</body>
</html>
